@page
@model DotNetBoom.Pages.Companies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Company.ID" />
            <div class="form-group">
                <label asp-for="Company.Name" class="control-label"></label>
                <input asp-for="Company.Name" class="form-control" />
                <span asp-validation-for="Company.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.FoundationDate" class="control-label"></label>
                <input asp-for="Company.FoundationDate" class="form-control" />
                <span asp-validation-for="Company.FoundationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Location" class="control-label"></label>
                <input asp-for="Company.Location" class="form-control" />
                <span asp-validation-for="Company.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.BusinessGroup" class="control-label"></label>
                <input asp-for="Company.BusinessGroup" class="form-control" />
                <span asp-validation-for="Company.BusinessGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Type" class="control-label"></label>
                <input asp-for="Company.Type" class="form-control" />
                <span asp-validation-for="Company.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.NumberOfEmployees" class="control-label"></label>
                <input asp-for="Company.NumberOfEmployees" class="form-control" />
                <span asp-validation-for="Company.NumberOfEmployees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
