@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <div style="width: 20%; height: 100%; float: left;">
        <div>
            <div>
                <input type="text" placeholder="회사명 입력" />
            </div>
        </div>
        <div id="companies" style="list-style: none">

        </div>
    </div>

    <div>
        <div id="map" style="width: 80%; height: 100%; float: right; position: relative; overflow: hidden;"></div>
    </div>
</section>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=415ac1c77f0dfd57f3ddfbf328cd2e55&libraries=services,clusterer,drawing"></script>
<script>
    console.log("[Set Map]");
    var mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(36, 127),
            level: 12 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);

    var markerPosition = new kakao.maps.LatLng(33.450701, 126.570667);

    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    marker.setMap(map);
</script>

<script src="./data/companies.json" type="text/javascript"></script>
<script>
    var json = JSON.parse(companies);

    const companiesElement = document.getElementById('companies');

    for (i = 0; i < json.length; i++) {
        var nameDiv = document.createElement("div");
        nameDiv.innerHTML = json[i].name;
        companiesElement.appendChild(nameDiv);

        var typeDiv = document.createElement("div");
        typeDiv.innerHTML = json[i].type;
        companiesElement.appendChild(typeDiv);
    }
</script>